body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #00234b;
}

header {
  background-color: #00234b;
  color: #fff;
  padding: 10px 0;
}

#carrusel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

#carrusel .left-arrow {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 50%;
  margin-top: -9px;
}

#carrusel .right-arrow {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 50%;
  margin-top: -9px;
}

.carrusel {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carrusel > div {
  flex: 0 0 auto;
  height: 203px;
  margin-right: 5px;
  width: 195px;
  text-align: center;
  place-items: center;
  scroll-snap-align: start;
}

.carrusel img {
  cursor: pointer;
}

.product {
  border: #cccccc 1px solid;
}

.CarosuelD {
  padding: 10px 0;
  margin: auto;
}

.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}

.slide-content {
  text-align: right;
  margin: auto;
  color: #fff;
}

#Img1 {
  float: right;
  margin: auto;
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block; /* Cambiado de 'none' a 'block' */
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked
  ~ .control-1
  ~ .slide-indicador
  li:nth-child(1)
  .slide-circulo,
#slide-2:checked
  ~ .control-2
  ~ .slide-indicador
  li:nth-child(2)
  .slide-circulo,
#slide-3:checked
  ~ .control-3
  ~ .slide-indicador
  li:nth-child(3)
  .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

/* Media queries para hacer el código responsive */

@media (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px de ancho */
  .carrusel > div {
    height: 150px;
    width: 145px;
  }
}

@media (max-width: 576px) {
  /* Estilos para pantallas de hasta 576px de ancho */
  .carrusel > div {
    height: 100px;
    width: 95px;
  }
}
.carousel-item {
  text-align: center;
}
.bottom-text {
  text-align: center;
}
.CaosuelBack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Ajusta este valor según el tamaño del margen que desees */
  display: flex; /* Necesario para que funcione el centrado automático */
  color: white;
}