body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.formularioInt {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
}

h3 {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-selectInt {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-selectNoti {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form.row.g-3.needs-validationPro {
    margin: 5px auto 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.row.g-3.needs-validationPro {
    margin: 5px auto 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0000FF; /* Código de color hexadecimal para azul */
    color: white;
}