body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.formulario {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 0;
}

h3 {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-select {
    display: flex;
    margin: 20px auto 0;
    width: 85%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

form.row.g-3.needs-validation {
    margin: 5px auto 0;
    padding: 20px;
    display: flex;
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ff2600;
    /* Código de color hexadecimal para azul */
    color: white;
}

#paginador_cursos {
    margin: 5px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}