body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00234b;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #00234b;
    color: #fff;
    padding: 10px 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 60%;
    /* Aumenta el ancho */
    padding: 20px;
    /* Aumenta el padding */
    border: 1px solid #00234b;
    background-color: #17467c;
    border-radius: 15px;
    color: #fff;
}

#imagen_integrante {
    border-radius: 15px;
    margin: 10px auto 0;
}

#Nombre_Integrante {
    text-align: center;
}


/*                  CARRUSEL   1                  */


/* Estilos para centrar el carrusel y ajustar su tamaño */

#carouselExampleCaptions {
    width: 60%;
    /* Tamaño del carrusel */
    margin: auto;
    /* Centrado horizontal */
    background-color: #17467c;
    border-radius: 20px;
    /* Hace que las esquinas del carrusel sean redondeadas */
    color: #fff;
    /* Color del texto */
}


/* Estilos para los botones de control del carrusel */

.carousel-control-prev,
.carousel-control-next {
    font-size: 12px;
    /* Tamaño del texto de los botones */
    width: 45px;
    /* Ancho de los botones */
    height: 225px;
    /* Altura de los botones */
    /* Opacidad inicial */
    top: 20%;
}


/* Estilos para los botones de control del carrusel al pasar el mouse */

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.1;
    /* Opacidad al pasar el mouse */
}


/* imagen de carrusel */

.rounded-img {
    border-radius: 20px;
}


/*                  CARRUSEL   2                  */


/* Estilos para centrar el carrusel y ajustar su tamaño */

#Contenedor_Carousel-Integrantes {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    position: relative;
    color: #fff;
    width: 60%;
}

#integrantes_carousel-control-prev,
#integrantes_carousel-control-next {
    background-color: #031c32;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#integrantes_carousel-control-prev {
    left: 10px; /* Ajusta esta posición según sea necesario */
}

#integrantes_carousel-control-next {
    right: 10px; /* Ajusta esta posición según sea necesario */
}

#integrantes_carousel-control-prev-icon,
#integrantes_carousel-control-next-icon {
    padding: 5px;
}




#botton_Correo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b95d20;
    width: 68%;
    height: 5%;
    /* Ajusta esto según tus necesidades */
    margin: 0 auto;
    /* Centra el botón en la página */
    border-radius: 10px;
}

#botton_GitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231e33;
    width: 68%;
    height: 5%;
    /* Ajusta esto según tus necesidades */
    margin: 0 auto;
    /* Centra el botón en la página */
    border-radius: 10px;
}




.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 200px;
    background-color: #031c32;
    color:white;
}