<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>H4ck3rs L4b USBBOG</title>
    {% load static %}
    <link href="{% static 'images\escudo-2.png' %}" type="image/x-icon" rel="shortcut icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/StyleAdminProyectos.css' %}">
</head>

<main>
    <header id="header" class="avar navbar-light" style="background-color: #031c32;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    {% load static %} 
                    <img src="{% static 'images\logo-2.svg' %}" width="46" height="42" alt="Logo" />
                    <span class="nav-link px-2 text-white"><u>H4ck3rs L4b USBBOG</u></span>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-auto">
                    <li><a href="AdminIntegrantes.html" class="nav-link px-2 text-white"><u>INTEGRANTES</u></a></li>
                    <li><a href="AdminCursos.html" class="nav-link px-2 text-white"><u>CURSOS</u></a></li>
                    <li><a href="AdminNoticias.html" class="nav-link px-2 text-white"><u>NOTICIAS</u></a></li>
                    <li><a href="AdminProyectos.html" class="nav-link px-2 text-white"><u>PROYECTOS</u></a></li>
                </ul>

                <div class="text-end">
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-outline-light me-2">CERRAR SESION</button>
                    </a>
                </div>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>
    </header>
</main>

<body>
    <div class="b-example-divider"></div>
    <h3>Proyectos</h3>

    <form id="proyectosForm" method="POST" action="{% url 'proyecto_admin' %}" class="form-control row g-3 needs-validationPro" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="action" name="action">
        <div class="formularioPro">
            <div class="row g-3 needs-validationPro" novalidate>
                
                <div class="col-md-3">
                    <label for="nombre_proyecto" class="form-label">Nombre del proyecto</label>
                    <input type="text" name="nombre_proyecto" class="form-control" id="nombre_proyecto" required>
                </div>
                <div class="col-md-3">
                    <label for="intengrantes_proyecto" class="form-label">Integrantes</label>
                    <input type="text" name="intengrantes_proyecto" class="form-control" id="intengrantes_proyecto" required>
                </div>
                <div class="col-md-3">
                    <label for="fecha_proyecto" class="form-label">Fecha</label>
                    <input type="date" name="fecha_proyecto" class="form-control" id="fecha_proyecto" required>
                </div>
                <div class="col-md-3">
                    <label for="link_proyecto" class="form-label">Link del proyecto</label>
                    <input type="text" name="link_proyecto" class="form-control" id="link_proyecto" required>
                </div>
                <div class="row-cols-md-3">
                    <label for="description_proyecto" class="form-label">Descripcion</label>
                    <input type="text" name="description_proyecto" class="form-control" id="description_proyecto" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success" name="action" value="add">Crear</button>
                </div>
            </div>
        </div>
    </form>
    
    <table>
        <tr>
            <th>ID Proyecto</th>
            <th>Nombre Proyecto</th>
            <th>Integrantes</th>
            <th>Fecha Proyecto</th>
            <th>Link Proyecto</th>
            <th>Descripción Proyecto</th>
            <th>Acciones</th>
        </tr>
        {% for proyecto in proyectos %}
        <tr id="row-{{ proyecto.idproyectos }}">
            <td>{{ proyecto.idproyectos }}</td>
            <td><input type="text" value="{{ proyecto.nombre_proyecto }}" class="form-control editable" readonly></td>
            <td><input type="text" value="{{ proyecto.intengrantes_proyecto }}" class="form-control editable" readonly></td>
            <td><input type="date" value="{{ proyecto.fecha_proyecto|date:"Y-m-d" }}" class="form-control editable" readonly></td>
            <td><input type="text" value="{{ proyecto.link_proyecto }}" class="form-control editable" readonly></td>
            <td><input type="text" value="{{ proyecto.description_proyecto }}" class="form-control editable" readonly></td>
            <td>
                <a href="{% url 'delete_proyecto' proyecto.idproyectos %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>