<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="{% static 'images/escudo-2.png' %}" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/StyleLogin.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login_view' %}">
            {% csrf_token %}
            <div class="error-message" id="error-message">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            </div>
            <div>
                <input type="text" id="username" name="username" placeholder="Usuario" required>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div>
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
        <div class="back_button">
            <button onclick="goToMenu()">Regresar</button>
        </div>
    </div>
    <script>
        function goToMenu() {
            window.location.href = "{% url 'menu' %}";
        }
    </script>
</body>

</html>
