<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>H4ck3rs L4b USBBOG</title>
    {% load static %}
    <link href="{% static 'images\escudo-2.png' %}" type="image/x-icon" rel="shortcut icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/StyleMenuProyect.css' %}">
</head>

<main>
    <header id="header" class="avar navbar-light" style="background-color: #031c32;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'menu' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    {% load static %} 
                    <img src="{% static 'images\logo-2.svg' %}" width="46" height="42" alt="Logo" />
                    <span class="nav-link px-2 text-white"><u>H4ck3rs L4b USBBOG</u></span>
                  </a>
  
  
                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-auto">
                      <li><a href="{% url 'menu' %}" class="nav-link px-2 text-white"><u>INICIO</u></a></li>
                      <li><a href="{% url 'cursos' %}" class="nav-link px-2 text-white"><u>CURSOS</u></a></li>
                      <li><a href="{% url 'noticias' %}" class="nav-link px-2 text-white"><u>NOTICIAS</u></a></li>
                      <li><a href="{% url 'proyectos' %}" class="nav-link px-2 text-white"><u>PROYECTOS</u></a></li>
                  </ul>
  
                  <div class="text-end">
                      <a href="{% url 'login_view' %}">
                          <button type="button" class="btn btn-outline-light me-2">INGRESAR</button>
                      </a>
                  </div>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>
    </header>
</main>

<body>
    <div class="b-example-divider "></div>
    <div id = "proyectos" style="height: auto; width: auto; margin: 0 auto;">
        <div class="container">
            <div class="card" style=" background-color: #053b6e ;">
            <div class="card-body">
                <h1 style="color: rgb(255, 255, 255); text-align: left;">Proyectos</h1>
            </div>
            </div>
        </div>

        <div class = "container" id = "Proyecto1">
            <div class="card" style="border: 2px solid #012947; color:#fff; border-radius: 15px;">
                <h5 class="card-header" style="background-color: #003b67;">Proyecto 1</h5>
                <div class="card-body d-flex justify-content-between"  style="background-color: #004d8b;">
                    <div>
                        <h4 class="card-title">*Titulo del proyecto1*</h4>
                        <h5 class="card-title">*Fecha de Finalizacion*</h5>
                        <p class="card-text">*Los proyectos pueden abarcar una amplia gama de temas y enfoques. Desde iniciativas tecnológicas que buscan mejorar la eficiencia en la producción industrial hasta programas educativos destinados a fomentar el aprendizaje en comunidades desfavorecidas, los ejemplos de descripciones de proyectos son tan variados como las necesidades que buscan abordar. Cada proyecto lleva consigo la promesa de innovación, impacto social o avance científico, y su descripción detallada revela no solo sus objetivos y metodologías, sino también el entusiasmo y la dedicación de quienes están detrás de su realización.*</p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBljDeA_S4RIY_dFUdVIOFEAMRXm30-vro6kEG0yMcLw&s" class="card-img-right flex-auto d-none d-md-block" alt="Imagen descriptiva" style="width: 1030px; height: 220px; object-fit: cover; border-radius: 15px;">
                </div>
            </div>
        </div>

        <div class = "container" id = "Proyecto2">
            <div class="card" style="border: 2px solid #012947; color:#fff; border-radius: 15px;">
                <h5 class="card-header" style="background-color: #003b67;">Proyecto 2</h5>
                <div class="card-body d-flex justify-content-between"  style="background-color: #004d8b;">
                    <img src="https://www.lavanguardia.com/andro4all/hero/2023/04/6d8841b6-9d24-457a-95c5-0d3de1d7bf5f.png?width=768&aspect_ratio=16:9&format=nowebp" class="card-img-right flex-auto d-none d-md-block" alt="Imagen descriptiva" style="width: 1030px; height: 220px; object-fit: cover; border-radius: 15px;">
                    <div style="margin: auto; margin-left: 20px; ">
                        <h4 class="card-title">*Titulo del proyecto2*</h4>
                        <h5 class="card-title">*Fecha de Finalizacion*</h5>
                        <p class="card-text">*Los proyectos pueden abarcar una amplia gama de temas y enfoques. Desde iniciativas tecnológicas que buscan mejorar la eficiencia en la producción industrial hasta programas educativos destinados a fomentar el aprendizaje en comunidades desfavorecidas, los ejemplos de descripciones de proyectos son tan variados como las necesidades que buscan abordar. Cada proyecto lleva consigo la promesa de innovación, impacto social o avance científico, y su descripción detallada revela no solo sus objetivos y metodologías, sino también el entusiasmo y la dedicación de quienes están detrás de su realización.*</p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class = "container" id = "Proyecto3">
            <div class="card" style="border: 2px solid #012947; color:#fff; border-radius: 15px;">
                <h5 class="card-header" style="background-color: #003b67;">Noticia 3</h5>
                <div class="card-body d-flex justify-content-between"  style="background-color: #004d8b;">
                    <div>
                        <h4 class="card-title">*Titulo del proyecto2*</h4>
                        <h5 class="card-title">*Fecha de Finalizacion*</h5>
                        <p class="card-text">*Los proyectos pueden abarcar una amplia gama de temas y enfoques. Desde iniciativas tecnológicas que buscan mejorar la eficiencia en la producción industrial hasta programas educativos destinados a fomentar el aprendizaje en comunidades desfavorecidas, los ejemplos de descripciones de proyectos son tan variados como las necesidades que buscan abordar. Cada proyecto lleva consigo la promesa de innovación, impacto social o avance científico, y su descripción detallada revela no solo sus objetivos y metodologías, sino también el entusiasmo y la dedicación de quienes están detrás de su realización.*</p>
                        <a href="#" class="btn btn-primary">Link</a>
                    </div>
                    <img src="https://tierragamer.com/wp-content/uploads/2023/03/Arte-IA-Videojuegos.jpg" class="card-img-right flex-auto d-none d-md-block" alt="Imagen descriptiva" style="width: 1030px; height: 220px; object-fit: cover; border-radius: 15px;">
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" style="background-color: #012947; color: #333ea3; border: 1px solid #186dad;">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#" style="background-color: #012947; color: #fff; border: 1px solid  #186dad;">1</a></li>
                  <li class="page-item"><a class="page-link" href="#" style="background-color: #012947; color: #fff; border: 1px solid #186dad;">2</a></li>
                  <li class="page-item"><a class="page-link" href="#" style="background-color: #012947; color: #fff; border: 1px solid #186dad;">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" style="background-color: #012947; color: #333ea3; border: 1px solid #186dad;">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>

    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>